{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>Nueva Calle</h2>
                </div>
                {{ form_start(form, {'attr' : {'novalidate':'novalidate', 'role' : 'form'} }) }}
                
                <div class="form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nombre'} }) }}
                    <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                </div>
            
                <div class="select-editable">
                    <select id="selectZone">
                        {% for zone in zones %}
                            <option value="{{ zone.id }}"> {{ zone.fullzone }} </option>
                        {% endfor %}
                    </select>
                    <input type="text" id="textZone" name="format" value="" />
                </div><br><br>
                
                <p>
                    {{ form_widget(form.save, {'label': 'Crear calle', 'id': 'zone.id', 'attr':{'class':'btn btn-success'}}) }}
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/gsuser/js/selectZone.js') }}"></script>
{% endblock %}