<table class="table table-stripted table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Zona</th>
        </tr>
    </thead>
    <tbody>
       {% for street in streets %}
        <tr data-id="{{ street.id }}">
            <td>{{ street.nombre }}</td>
            <td>{{ street.zone.fullzone }}</td>
            <td class="actions">
                <a href="{{ path('gs_street_view', {id: street.id}) }}" class="btn btn-sm btn-info">Ver</a>
                <a href="{{ path('gs_street_edit', {id: street.id}) }}" class="btn btn-sm btn-primary">Editar</a>
            </td>
        </tr>
        {% endfor %} 
    </tbody>  
</table>