{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container well">
	    <div class="col-md-9">
	    <h2>{{ street.nombre }}</h2>
	        <br>
	        <dl>
	            <dt>{{'Nombre'}}</dt>
	            <dd>
	                {{ street.nombre }}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>{{'Zona'}}</dt>
	            <dd>
	                {{ street.zone.fullzone }}
	                &nbsp;
	            </dd>
	            <br>
	        </dl>
	    </div>
	    <div class="col-md-3">
	    	<h3>{{ 'Acciones'}}:</h3>
			<p>
		    	<a href="{{ path('gs_street_edit', { id: street.id }) }}" class="btn btn-primary btn-lg btn-block">
		    		<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Editar calle' }}
				 </a>
			</p>
		    
	    </div>
	</div>
{% endblock %}