{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>Editar Cliente</h2>
                </div>
                {{ form_start(form, {'attr' : {'novalidate':'novalidate', 'role' : 'form'} }) }}
                
                <div class="form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu nombre'} }) }}
                    <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                </div>
            
                <div class="form-group">
                    {{ form_label(form.apellidos) }}
                    {{ form_widget(form.apellidos, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tus apellidos'} }) }}
                    <span class="text-danger">{{ form_errors(form.apellidos) }}</span>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu email'} }) }}
                    <span class="text-danger">{{ form_errors(form.email) }}</span>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.telefono) }}
                    {{ form_widget(form.telefono, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu telefono'} }) }}
                    <span class="text-danger">{{ form_errors(form.telefono) }}</span>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.empadronado) }}
                    {{ form_widget(form.empadronado, {'attr' : {'class' : 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(form.empadronado) }}</span>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.direccion) }}
                    {{ form_widget(form.direccion, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu dirección'} }) }}
                    <span class="text-danger">{{ form_errors(form.direccion) }}</span>
                </div>
                
                <p>
                    {{ form_widget(form.save, {'label': 'Editar cliente', 'attr':{'class':'btn btn-success'}}) }}
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}