{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if flashMessage is not defined %}
        <div class="alert alert-success hidden" id="message" role="alert">
            <div class="container"> 
                <span id="user-message"></span>
            </div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Clientes</h2>
            </div>
            Buscar: <input type="text" id="search" name="search" class="input-medium search-query" placeholder="nombre del cliente..."><br><br>
            <div id="clientDivList" class="table-responsive">
                <table class="table table-stripted table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Empadronado</th> 
                            <th>Dirección</th>
                        </tr>
                    </thead>
                    <tbody id="clientTable">
                       {% for client in clients %}
                            <tr data-id="{{ client.id }}">
                                <td>{{ client.nombre }}</td>
                                <td>{{ client.apellidos }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.telefono }}</td>
                                <td>{{ client.empadronado }}</td>
                                <td>{{ client.direccion }}</td>
                                <td class="actions">
                                    <a href="{{ path('gs_client_view', {id: client.id}) }}" class="btn btn-sm btn-info">Ver</a>
                                    <a href="{{ path('gs_client_edit', {id: client.id}) }}" class="btn btn-sm btn-primary">Editar</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>  
                </table>
            </div>
        </div>
    </div>
    {{ include('GSUserBundle:Client:forms/form.html.twig', { form: delete_form_ajax, message: '¿Estás seguro?', id: 'form-delete', with_submit: false}) }}
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/gsuser/js/delete-client.js') }}"></script>
    <script src="{{ asset('bundles/gsuser/js/search.js') }}"></script>
{% endblock %}

