{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Usuarios</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-stripted table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Fecha Nacimiento</th>
                            <th>Sexo</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Tipo</th> 
                        </tr>
                    </thead>
                    <tbody>
                       {% for user in users %}
                            <tr>
                                <td>{{ user.nombre }}</td>
                                <td>{{ user.apellidos }}</td>
                                <td>{{ user.fNacimiento |date('d-m-Y') }}</td>
                                <td>{{ user.sexo }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.telefono }}</td>
                                <td>{{ user.tipo }}</td>
                                <td class="actions">
                                    <a href="{{ path('gs_user_view', { id:user.id }) }}" class="btn btn-sm btn-info">Ver</a>
                                    <a href="{{ path('gs_user_edit', { id:user.id }) }}" class="btn btn-sm btn-primary">Editar</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>  
                </table>
            </div>
        </div>
    </div>
{% endblock %}