{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>Nueva Zona</h2>
                </div>
                {{ form_start(form, {'attr' : {'novalidate':'novalidate', 'role' : 'form'} }) }}
                
                <div class="form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nombre'} }) }}
                    <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                </div>
            
                <div class="form-group">
                    {{ form_label(form.municipio) }}
                    {{ form_widget(form.municipio, {'attr' : {'class' : 'form-control', 'placeholder' : 'Municipio'} }) }}
                    <span class="text-danger">{{ form_errors(form.municipio) }}</span>
                </div>
                
                <p>
                    {{ form_widget(form.save, {'label': 'Crear zona', 'attr':{'class':'btn btn-success'}}) }}
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}