{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if flashMessage is not defined %}
        <div class="alert alert-success hidden" id="message" role="alert">
            <div class="container"> 
                <span id="user-message"></span>
            </div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Contadores</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-stripted table-hover">
                    <thead>
                        <tr>
                            <th>Número del Contador</th>
                            <th>Fecha de Alta</th>
                            <th>Fecha de Baja</th>
                            <th>Número de Referencia del Contrato</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for counter in counters %}
                            <tr data-id="{{ counter.nContador }}">
                                <td>{{ counter.nContador }}</td>
                                <td>{{ counter.fAlta |date('d-m-Y') }}</td>
                                <td>
                                {% if counter.fBaja != null %}
                                    {{ counter.fBaja |date('d-m-Y') }}
                                {% endif %}
                                </td>
                                <td>{{ counter.contract.fullcontract }}</td>
                                <td class="actions">
                                    <a href="{{ path('gs_counter_view', {id: counter.nContador}) }}" class="btn btn-sm btn-info">Ver</a>
                                    {% if counter.fBaja == null %}
                                        <a href="{{ path('gs_counter_edit', {id: counter.nContador}) }}" class="btn btn-sm btn-danger btn-delete">Dar de Baja</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>  
                </table>
            </div>
        </div>
    </div>
     {{ include('GSUserBundle:Counter:forms/form.html.twig', { form: delete_form_ajax, message: '¿Estás seguro que quieres darle de baja?', id: 'form-delete', with_submit: false}) }}

{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/gsuser/js/delete-counter.js') }}"></script>
{% endblock %}


