{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Contrato</h2>
                </div>
                {{ form_start(form, {'attr' : { 'role' : 'form'} }) }}
                
                <div class="hidden">
                    <div class="form-group">
                        <b>Cliente</b>
                        {{ form_widget(form.client, {'attr' : {'class' : 'form-control', 'placeholder' : 'cliente'} }) }}
                        <span class="text-danger">{{ form_errors(form.client) }}</span>
                    </div>
                </div>
                
                <b>Cliente</b>
                <div class="select-editable">
                    <select id="selectClient" requiered="true">
                        <option value="">Selecciona un cliente...</option>
                        {% for client in clients %}
                            <option value="{{ client.id }}"> {{ client.fullclient }} </option>
                        {% endfor %}
                    </select>
                    <input type="text" class="form-control" id="textClient" name="gs_userbundle_client" placeholder="Buscar..." requiered="requiered" />
                </div><br>
                
                <div class="hidden">
                    <div class="form-group">
                        <b>Calle</b>
                        {{ form_widget(form.street, {'attr' : {'class' : 'form-control', 'placeholder' : 'calle'} }) }}
                        <span class="text-danger">{{ form_errors(form.street) }}</span>
                    </div>
                </div>
                
                <b>Calle</b>
                <div class="select-editable">
                    <select id="selectStreet">
                        <option value="">Selecciona una calle...</option>
                        {% for street in streets %}
                            <option value="{{ street.id }}"> {{ street.nombre }} </option>
                        {% endfor %}
                    </select>
                    <input type="text" class="form-control" id="textStreet" name="gs_userbundle_street"  placeholder="Buscar..." />
                </div><br>
                
                <div class="form-group">
                    <b>Número de la vivienda</b>
                    {{ form_widget(form.nVivienda, {'attr' : {'class' : 'form-control', 'placeholder' : 'Número de la vivienda'} }) }}
                    <span class="text-danger">{{ form_errors(form.nVivienda) }}</span>
                </div>
        
                <div class="form-group">
                    <b>Tarifa</b>
                    {{ form_widget(form.tarifa, {'attr' : {'class' : 'form-control', 'placeholder' : 'tarifa'} }) }}
                    <span class="text-danger">{{ form_errors(form.tarifa) }}</span>
                </div>
                
                <p>
                    {{ form_widget(form.save, {'label': 'Crear Contrato', 'attr':{'class':'btn btn-success'}}) }}
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/gsuser/js/selectClientContract.js') }}"></script>
    <script src="{{ asset('bundles/gsuser/js/selectStreet.js') }}"></script>
{% endblock %}