{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if flashMessage is not defined %}
        <div class="alert alert-success hidden" id="message" role="alert">
            <div class="container"> 
                <span id="user-message"></span>
            </div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Contratos</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-stripted table-hover">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Calle</th>
                            <th>Número de la vivienda</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for contract in contracts %}
                            <tr data-id="{{ contract.id }}">
                                <td>{{ contract.client.fullclient }}</td>
                                <td>{{ contract.street.fullstreet}}</td>
                                <td>{{ contract.nVivienda }}</td>
                                <td class="actions">
                                    <a href="{{ path('gs_contract_view', {id: contract.id}) }}" class="btn btn-sm btn-info">Ver</a>
                                    <a href="{{ path('gs_contract_edit', {id: contract.id}) }}" class="btn btn-sm btn-primary">Editar titular</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>  
                </table>
            </div>
        </div>
    </div>
{% endblock %}


