{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>Nueva Incidencia</h2>
                </div>
                {{ form_start(form, {'attr' : {'novalidate':'novalidate', 'role' : 'form'} }) }}
                <div class="form-group">
                    <b>Tipo</b>
                    {{ form_widget(form.tipo, {'attr' : {'class' : 'form-control', 'placeholder' : 'tipo'} }) }}
                    <span class="text-danger">{{ form_errors(form.tipo) }}</span>
                </div>
                
                <div class="form-group">
                    <b>Gravedad</b>
                    {{ form_widget(form.gravedad, {'attr' : {'class' : 'form-control', 'placeholder' : 'Gravedad'} }) }}
                    <span class="text-danger">{{ form_errors(form.gravedad) }}</span>
                </div>
                
                <div class="form-group">
                    <b>Informaci贸n</b>
                    {{ form_widget(form.informacion, {'attr' : {'class' : 'form-control', 'placeholder' : 'Informaci贸n'} }) }}
                    <span class="text-danger">{{ form_errors(form.informacion) }}</span>
                </div>
                
                <div class="form-group">
                    <b>Estado:</b>
                    {{ form_widget(form.estado, {'attr' : {'class' : 'form-control', 'placeholder' : 'Estado'} }) }}
                    <span class="text-danger">{{ form_errors(form.estado) }}</span>
                </div>
                
                <div class="form-group">
                    <b>Resoluci贸n:</b>
                    {{ form_widget(form.resolucion, {'attr' : {'class' : 'form-control', 'placeholder' : 'Resoluci贸n'} }) }}
                    <span class="text-danger">{{ form_errors(form.resolucion) }}</span>
                </div>
        
                <p>
                    {{ form_widget(form.save, {'label': 'Crear Incidencia', 'attr':{'class':'btn btn-success'}}) }}
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}