{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if flashMessage is not defined %}
        <div class="alert alert-success hidden" id="message" role="alert">
            <div class="container"> 
                <span id="user-message"></span>
            </div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="container well">
	    <div id="readDiv" class="col-md-9">
	    <h2>Lectura Zona: {{ zones.nombre }}</h2>
	        <br>
	        <dl>
	            <dt>{{'Nº Contador:'}}</dt>
	            <dd>
	                {% for counter in counters %}
    	                {{ counter.nContador }}
    	                &nbsp;
	            </dd>
	            <br>
	            
                <dt>{{'Calle:'}}</dt>
	            <dd>
	                {{ contracts.street.fullstreet }}
	                &nbsp;
	            </dd>
	            <br>
                
	            <dt>{{'Nº Vivienda:'}}</dt>
	            <dd>
	                {{ contracts.nVivienda }}
	                &nbsp;
	            </dd>
	            <br>
                
                <dt>{{'Lectura:'}}</dt>
	            <dd>
	                <input type="text" id="lectura" name="lectura">
	                <a href="#" class="btn btn-sm btn-info" onclick="guardarLectura({{ counter.nContador }}, {{ zones.id }})">Guardar</a>
	                &nbsp;
	            </dd>
	            <br>
                
                {% endfor %}    
	        </dl>
	    </div>
	<div id="readActions" class="col-md-3">
		<h3>{{ 'Acciones'}}:</h3>
		<p>
	    	<a href="{{ path('gs_incidence_add', { id:contracts.id, zone: zones.id }) }}" class="btn btn-primary btn-lg btn-block">
	    		<span class="glyphicon glyphicon-edit"></span>
	        	{{ 'Crear incidencia' }}
			 </a>
		</p>
	</div>
</div>
    
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/gsuser/js/reading.js') }}"></script>
{% endblock %}