{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if flashMessage is not defined %}
        <div class="alert alert-success hidden" id="message" role="alert">
            <div class="container"> 
                <span id="user-message"></span>
            </div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Contratos</h2>
            </div>
            Buscar: <input type="text" id="searchcontract" name="searchcontract" class="input-medium search-query" placeholder="Nº del contrato o Nombre del cliente..."><br><br>
            <div id="contractDivList" class="table-responsive">
                <table class="table table-stripted table-hover">
                    <thead>
                        <tr>
                            <th>Número del contrato</th>
                            <th>Cliente</th>
                            <th>Fecha última factura</th>
                        </tr>
                    </thead>
                    <tbody id="contractTable">
                       {% for contract in contracts %}
                            <tr data-id="{{ contract.id }}">
                                <td>{{ contract.id }}</td>
                                <td>{{ contract.client.fullclient }}</td>
                                <td>
                                {% if contract.fultimaFactura != null %}
                                   {{ contract.fultimaFactura |date('d-m-Y')}}
                                {% endif %}
                                </td>
                                <td class="actions">
                                    <a href="{{ path('gs_bill_create', {id: contract.id, client: contract.client.id}) }}" class="btn btn-sm btn-primary">Facturar</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>  
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/gsuser/js/searchcontractBill.js') }}"></script>
    <script src="{{ asset('bundles/gsuser/js/searchclientBill.js') }}"></script>
{% endblock %}