{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if flashMessage is not defined %}
        <div class="alert alert-success hidden" id="message" role="alert">
            <div class="container"> 
                <span id="user-message"></span>
            </div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }}</div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Facturas</h2>
            </div>
            Buscar: <input type="text" id="searchbill" name="searchbill" class="input-medium search-query" placeholder="Número del contador..."><br><br>
            <div id="billDivList" class="table-responsive">
                <table class="table table-stripted table-hover">
                    <thead>
                        <tr>
                            <th>Número factura</th>
                            <th>Cliente</th>
                            <th>Nº del contrato</th>
                            <th>Calle</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody id="billTable">
                       {% for bill in bills %}
                            <tr data-id="{{ bill.id }}">
                                <td>{{ bill.id }}</td>
                                <td>{{ bill.contract.client.fullclient }}</td>
                                <td>{{ bill.contract.id}}</td>
                                <td>{{ bill.contract.street.fullstreet}}</td>
                                <td>{{ bill.fFactura |date('d-m-Y') }}</td>
                                <td>{{ bill.estado }}</td>
                                <td class="actions">
                                    <a href="{{ path('gs_bill_view', {id: bill.id}) }}" class="btn btn-sm btn-info">Ver</a>
                                    {% if(bill.estado== "Pendiente") %}
                                        <a href="{{ path('gs_bill_edit', {id: bill.id}) }}" class="btn btn-sm btn-primary">Marcar como cobrado</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>  
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/gsuser/js/searchbill.js') }}"></script>
{% endblock %}

